<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PPX_WKWebView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>576F7ABB1D9CAD0B00E39485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>576F7AD41D9CAD0B00E39485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>576F7ADF1D9CAD0B00E39485</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
